[submodule ".config/fish/plugins/z"]
	path = .config/fish/plugins/z
	url = https://github.com/sjl/z-fish
[submodule "extras/chruby-fish"]
	path = extras/chruby-fish
	url = https://github.com/JeanMertz/chruby-fish.git
[submodule "extras/ruby-install"]
	path = extras/ruby-install
	url = https://github.com/postmodern/ruby-install.git
